.link:hover,
.link:active,
.link.active {
  color: #868e96;
}

.link {
  text-decoration: none;
  color: #495057;
  display: flex;
  align-items: center;
}

.arrow {
  width: 2rem;
  font-size: 2rem;
}
